
.component_clear {
    clear: both;
}

/*
* used in "Form" views
*/

div.component_form_borders {
    /* grey box with rounded corners that defines component */
    border-radius: 5px;
    border: 1px solid;
    border-color: dimgray;
    background-color: #F2F2F2;
    padding: 10px;
    width: 750px;
}

.component_action {
    /* header in upper-left corner of component, e.g. "Modify Client Company" */
    font-size: 10pt;
    font-weight: bold;
    color: gray;
    margin-bottom: 20px;
}

.component_action_button {
    /* back button, e.g. "Back to Contact Manager" */
    float: right;
}

.component_form_row {
    /* an row of the form (full width) */
    white-space: nowrap;
    padding: 0%;
    padding-bottom: 3px;
}

.component_form_row.pT10 {
    padding-top: 10px;
}

.component_form_label_div {
    /* div containing label of a form input; default is narrow enough that you can fit 2 pairs of label-field in one row */
    float: left;
    padding: 0%;
    width: 140px;
    white-space: nowrap;
}

.component_form_label {
    /* to be applied to the 'label' html tag */
    font-size: 11px;
    font-weight: bold;
    color: #333;
}

.component_form_field_div {
    /* div containing field of a form input; default is narrow enough that you can fit 2 pairs of label-field in one row */
    float: left;
    padding: 0%;
    width: 235px;
    white-space: nowrap;
}

.component_form_field {
    font-size: 11px;
}

.component_form_text, .component_form_textarea, .component_form_select {
    font-size: 11px;
    width: 220px;
    padding: 1px;
    margin: 0px;
    resize: none;
}

.component_form_text_readonly {
    /* add this class to element that already has either class 'component_form_text' or 'component_form_textarea' in order to make it look disabled */
    background-color: #D8D8D8;"
}

/*
* used in "List" views
*/

.component_list {
    width: 770px;
}

div.component_list_title {
    font-weight: bold;
    font-size: 10pt;
    margin-top: 20px;
    height: 16px;
}

.component_list_title img {
    vertical-align: bottom;
}

.component_list_table {
    width: 100%;
    background: #fff;
    border: 0;
    border-collapse: collapse;
}

.component_list_table th, .component_list_table td {
    padding: 2px;
    font-size: 8pt;
    border: none;
}

.component_list_table th {
    background: #333;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding-left: 3px;
}

.component_list_table td {
    border: 1px solid #eee;
}

/*
* used in "Manage" views
*/

div.component_manager_borders {
    border-radius: 5px;
    border: 1px solid;
    border-color: dimgray;
    background-color: #F2F2F2;
    padding: 10px;
}

/*
* success and error message boxes displaying for example "Client successfully updated"
*/

.component_success_box {
    margin: 0 10px 10px 0;
    padding: 10px;
    background-color: #deffde;
    border: 1px solid #45ff45;
    font-weight: bold;
    display: none;
}

.component_error_box  {
    margin: 0 10px 10px 0;
    padding: 10px;
    background-color: #ffdede;
    border: 1px solid #ff4545;
    font-weight: bold;
    display: none;
}



.component_subaction_link			{ color: darkBlue; line-height: 9pt; font-size: 9pt; font-weight: bold; text-decoration: none; float: right;}
.component_subaction_link:link	{  }
.component_subaction_link:active	{  }
.component_subaction_link:visited	{  }
.component_subaction_link:hover	{ color: red; text-decoration: underline;}


h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
 * breadcrumb stuff
 */

#breadcrumb_div {
    overflow: hidden;
    border-bottom: 0px solid #e0e0e0;
    padding: 5px 0px 5px 10px;
}

#breadcrumb_div span {
    padding-left: 20px;
    margin-left: 5px;
    display: block;
    float: left;
    background: url('Icons/bullet_go.png') left center no-repeat;
    font-size: 10pt;
    font-weight: bold;
    color: darkBlue;
    text-decoration: none;
    cursor: pointer;
}

#breadcrumb_div span:hover { color: red; text-decoration: underline; }

#breadcrumb_div span:first-child {
    background: none;
    padding-left: 0;
    margin-left: 0;
}

#client_companies {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    float: left;
}

#client_companies_template {
    display: none;
}

.client_companies_row_header {
    background: #333;
    color: #fff;
    font-weight: bold;
    float: left;
    clear: both;
    margin: 0;
    font-size: 11px;
}

.client_companies_row {
    border-bottom: 1px solid #eee;
    color: #333;
    float: left;
    clear: both;
    margin: 0;
    font-size: 11px;
}

.client_companies_cell {
    float: left;
    padding: 3px;
    text-align: left;
}

.client_companies_cell_company_name {
    width: 300px;
}

.client_companies_cell_add_new {
    width: 150px;
    padding: 3px;
    text-align: right;
    float: left;
}

.client_companies_current_page {
    font-weight: bold;
}
