Here is my array:
<?php
use \MicroMVC\Controller;

foreach ($myvar as $key => $value) {
	echo "<div>$key : $value</div>\n";
}

echo '<p>';
var_dump($param);

echo '<p>';
var_dump($get_post);

echo '<p>';
echo Controller::getUrl('client_company', 'manage');
?>

<a href="<?php echo Controller::getUrl('client_company', 'manage'); ?>">new link</a>